<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJ_1efGvq5m6BdI_vtGk8nvjsb25UKOOA</string>
	<key>GCM_SENDER_ID</key>
	<string>471848772810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mislab3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mis-lab3-cf789</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-lab3-cf789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471848772810:ios:a0c6b965bdaf01cfb34033</string>
</dict>
</plist>